@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 500vh;
  background: #000;
}

.headline {
  font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}

@keyframes moveHeadline {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Moves 20px to the right */
  }
  100% {
    transform: translateX(0);
  }
}

.animate-moving {
  animation: moveHeadline 5s ease-in-out infinite;
}

.paused {
  animation: none; /* Disable the animation when the element is in view */
}
